.card {
    min-height: 100px;
}

.text1 {
    font-size: 120%;
}

.text2 {
    font-size: 100%;
}

.text3 {
    font-size: 90%;
}
.selectedNeed {
    background-color: #d4ebf2
}
.selectedFeeling {
    background-color: #f2dbd4
}
